{% extends 'base.html.twig' %}

{% block title 'VARIETY SOUND' %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block body %}
<div class="container col-12 pt-5">
  <h1>Bienvenue sur Variety Sound</h1>
  <p class="p1">Ce site va vous permettre de consulter une panoplie d'albums.</p>
  <p class="p1">Il permet notamment de faire des recherches simples ou multi-critères</p>
  <p class="p1">Vous pourrez créer votre playlist, si vous êtes inscrit le site.</p>
  <p class="p1">Sinon vous pourrez uniquement consulter les musiques.</p>
</div>

{% block javascripts %}
{% endblock %}

{% endblock %}


