{% extends 'base.html.twig' %}

{% block title %}Liste des artistes{% endblock %}

{% block body %}
<div class="container rosepale text-center col-12 col-md-6 p-3">
    <h1 class="p-3">Liste des artistes</h1>
</div>

<div class="container">
    <div class="row row-cols-1 row-cols-md-5 g-4">
        {% for art in artiste %}
        <div class="col-3 zoom">
            <div class="card h-100 border-dark border border-4 rounded-3 text-white bg-dark mb-4">
                <img src="{{asset('images/artiste/' ~ art.image)}}" class="card-img-top">
                <div class="card-body bg-dark">
                    <h5 class="card-title text-center rosepale"> {{ art.nom }} </h5>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>    
{% endblock %}
